<div id="page_content">
        <div id="page_content_inner">
    
            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a uk-margin-small-bottom">Course information</h3>
                    <form id="formApplyCourse" class="uk-form-stacked">
                        <div style="margin-top:20px;" class="uk-grid" data-uk-grid-margin>
                            <div class="parsley-row uk-width-medium-1-2">									
                                <input class="emp_for_nomination" 
                                    kendo-drop-down-list
                                    style="width: 100%;"
                                    k-data-source="crew"
                                    k-data-value-field="'PID'"
                                    k-data-text-field="'employeeName'"
                                    k-filter="'contains'"
                                    k-option-label="'Select employees...'"
                                    ng-model="course.PID"
                                    ng-required="true"
                                />
                                
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2">
                                <div class="parsley-row">
                                    <label for="name">Topic / Course name<span class="req">*</span></label>
                                    <input id="name" type="text" required class="md-input" md-input ng-model="course.name"/>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="parsley-row">
                                    <label for="url">Course url<span class="req">*</span></label>
                                    <input id="url" type="text" required class="md-input" md-input ng-model="course.url"/>
                                </div>
                            </div>
                        </div>
    
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4 parsley-row">
                                <label class="uk-form-label">Course Type<span class="req">*</span></label>
                                <span class="icheck-inline">
                                    <input type="radio" id="radio_free" name="courseType" ng-model="course.type" icheck required value="Free"/>
                                    <label for="radio_free" class="inline-label">Free</label>
                                </span>
                                <span class="icheck-inline">
                                    <input type="radio" id="radio_paid" name="courseType" ng-model="course.type" icheck value="Paid"/>
                                    <label for="radio_paid" class="inline-label">Paid</label>
                                </span>
                            </div>
                            <div class="uk-width-medium-1-4 parsley-row">
                                <label class="uk-form-label" style="margin-bottom:-4px">Content Provider<span class="req">*</span></label>
                                <select
                                    kendo-drop-down-list
                                    style="width: 100%"
                                    k-option-label="'--Select--'"
                                    k-data-source="contentProviders"
                                    k-data-value-field="'id'"
                                    k-data-text-field="'name'"
                                    k-filter="'contains'"
                                    ng-model="course.contentProvider"
                                    required
                                ></select>
                            </div>
                            <div class="uk-width-medium-1-4 parsley-row">
                                <label class="uk-form-label" style="margin-bottom:-4px">Start date<span class="req">*</span></label>
                                <input 
                                    style="box-shadow:none !important;width:100%;"
                                    kendo-date-picker
                                    placeholder="From"
                                    k-ng-model="course.startDate"
                                    k-min="maxDateOfFrom"
                                    k-rebind="maxDateOfFrom"
                                    k-format="'dd-MM-yyyy'"
                                    k-on-change="fromDateChanged(course.startDate)"
                                    required
                                />
                            </div>
                            <div class="uk-width-medium-1-4 parsley-row">
                                <label class="uk-form-label" style="margin-bottom:-4px">End date<span class="req">*</span></label>
                                <input 
                                    style="box-shadow:none !important;width:100%;"
                                    kendo-date-picker
                                    placeholder="To"
                                    k-ng-model="course.endDate"
                                    k-min = "minDateOfTo"
                                    k-rebind = "minDateOfTo"
                                    k-format="'dd-MM-yyyy'"
                                    required
                                />
                            </div>
                        </div>
    
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-3 parsley-row" style="padding-top:12px">
                                <label for="duration">Course duration (as mentioned on website)<span class="req">*</span></label>
                                <input id="duration" type="text" required  class="md-input" md-input ng-model="course.duration"/>
                            </div>
                            <div class="uk-width-medium-1-3 parsley-row" ng-show="course.type == 'Paid'">
                                <label class="uk-form-label">Payment type<span class="req">*</span></label>
                                <span class="icheck-inline">
                                    <input type="radio" id="radio_self" name="paymentType" ng-model="course.paymentType" icheck ng-required="course.type == 'Paid'" value="Self" />
                                    <label for="radio_self" class="inline-label">Self</label>
                                </span>
                                <span class="icheck-inline">
                                    <input type="radio" id="radio_company" name="paymentType" ng-model="course.paymentType" icheck value="Company" />
                                    <label for="radio_company" class="inline-label">Company</label>
                                </span>
                            </div>
                            <div class="uk-width-medium-1-3 parsley-row" style="padding-top:12px" ng-show="course.type == 'Paid'">
                                <label>Total cost (in INR)<span class="req">*</span></label>
                                <input
                                    class="md-input masked_input"
                                    type="text"
                                    data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                    data-inputmask-showmaskonhover="false"
                                    md-input
                                    ng-required="course.type == 'Paid'"
                                    ng-model="course.cost"
                                />
                            </div>
                        </div>
    
                        <div class="uk-grid" data-uk-grid-margin ng-show="course.type == 'Paid'">
                            <div class="uk-width-medium-1-3 parsley-row">
                                <label class="uk-form-label" style="margin-bottom:-4px">Payment frequency as per course provider<span class="req">*</span></label>
                                <select
                                    kendo-drop-down-list
                                    style="width: 100%"
                                    k-option-label="'--Select--'"
                                    k-data-source="paymentFrequency"
                                    k-data-value-field="'id'"
                                    k-data-text-field="'value'"
                                    k-filter="'contains'"
                                    ng-model="course.paymentFrequency"
                                    ng-required="course.type == 'Paid'"
                                    ng-change="enableSpecificPayment()"
                                ></select>
                            </div>
                            <div class="uk-width-medium-1-3 parsley-row" style="padding-top:12px" ng-show="enableSpecPayment">
                                <label>Specify the payment frequency<span class="req">*</span></label>
                                <input type="text" class="md-input" ng-model="course.paymentOption" maxlength="100" md-input ng-required="enableSpecPayment" />
                            </div>
                            <div class="uk-width-medium-1-3 parsley-row" ng-show="disableInstallments">
                                <label class="uk-form-label" style="margin-bottom:-4px">Installments<span class="req">*</span></label>
                                <input
                                    style="width: 100%;"
                                    kendo-numeric-text-box
                                    k-min="0"
                                    k-max="12"
                                    k-options="numericText"
                                    ng-model="course.noOfInstallments"
                                    ng-change="installmentRange(course.noOfInstallments);"
                                    ng-required="course.type == 'Paid'"
                                    ng-disabled="!incrementInstallment"
                                />
                            </div>
                        </div>
    
                        <h3 ng-show="installments.length" class="heading_a uk-margin-medium-top">Installments</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-grid uk-width-medium-1-2 uk-margin-small-top" ng-repeat="item in installments">
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">{{$index + 1}}</span>
                                        <div class="parsley-row">
                                            <label ng-show="$first || $index == 1">Amount</label>
                                            <input
                                                style="width: 100%;"
                                                kendo-numeric-text-box
                                                k-min="1"
                                                k-max="course.cost"
                                                k-rebind="course.cost"
                                                ng-required="course.type == 'Paid'"
                                                k-options="numericText"
                                                ng-model="item.amount"
                                                ng-blur="checkInstallmentAmount()"
                                            />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <label ng-show="$first || $index == 1">Choose salary cycle</label>
                                    <input kendo-date-picker
                                        k-options="monthSelectorOptions"
                                        k-format="'MMMM yyyy'"
                                        style="width: 100%;"
                                        ng-required="course.type == 'Paid'"
                                        ng-model="item.processDate"
                                    />
                                </div>
                            </div>
    
                            <div class="uk-grid uk-width-medium-1-1 uk-margin-small-top" ng-show="installments.length">
                                <span ng-show="installmentClass===false" ng-class="installmentClass === false? 'uk-text-danger' : ''">* Total Cost is not matching with the sum of all the installment amount.</span>
                                <span ng-show="installmentMonthClass===false" ng-class="installmentMonthClass === false? 'uk-text-danger' : ''">* Duplicates in selected installment months.</span>
                            </div>
                        </div>
    
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-1-1">
                                <div class="parsley-row">
                                    <label for="message">Reason for nomination</label>
                                    <textarea
                                        class="md-input"
                                        cols="10"
                                        rows="2"
                                        required
                                        md-input
                                        ng-model="course.reason"
                                        data-parsley-trigger="keyup"
                                        data-parsley-minlength="100"
                                        data-parsley-maxlength="250"
                                        data-parsley-validation-threshold="10"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1 parsley-row">
                                <p>
                                    <input type="checkbox" id="iAgree" icheck required ng-model="iAgree" />
                                    <label for="iAgree" class="inline-label">
                                        Employee leaving the company before the completion of the course will have to bear full cost / settlement deduction will apply based on the date of resignation.
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-1-1">
                                <button type="submit" ng-click="applyCourse();" ng-disabled="enableToApply" class="md-btn md-btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
    </div>
    