<div id="page_content">
    <div id="page_content_inner" ng-controller="divisionWiseStatisticsCtrl as showCase">
        <div class="uk-accordion uk-margin-bottom" data-uk-accordion>
            <h3 class="uk-accordion-title">Total Nomination vs Total No of employee's Report</h3>
            <div class="uk-accordion-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h4 class="heading_c uk-margin-bottom">Total Nomination vs Total No of employee's Report</h4>
                                <div id="c3_chart_bar_stacked" class="c3chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="uk-accordion-title">Content Providers statistics</h3>
            <div class="uk-accordion-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h4 class="heading_c uk-margin-bottom">Content Providers statistics</h4>
                                <div id="contentProvidersChart" class="c3chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="uk-accordion-title">Division Wise - Budget Report</h3>
            <div class="uk-accordion-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h4 class="heading_c uk-margin-bottom">Division Wise Budget Report</h4>
                                <div id="c3_chart_bar_stacked_divisionBudget" class="c3chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="uk-accordion-title">Division Wise - Nomination Statistics</h3>
            <div class="uk-accordion-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h4 class="heading_c uk-margin-bottom">Division Wise Nomination Statistics</h4>
                                <div id="c3_chart_bar_stacked_nominationStatistics" class="c3chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="uk-accordion-title">Pre Exit Report</h3>
            <div class="uk-accordion-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                <table
                                    datatable
                                    dt-options="showCase.dtOptions"
                                    dt-columns="showCase.dtColumns"
                                    dt-instance="showCase.dtInstance"
                                    class="uk-table"
                                    cellspacing="0"
                                    width="100%"
                                ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="uk-accordion-title">Budget Report</h3>
            <div class="uk-accordion-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                <form id="SearchForm">
                                    <div class="uk-grid" data-uk-grid-margin>
                                    </div>
                                    <div class="uk-grid uk-margin-small-top uk-margin-bottom" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-5 parsley-row">
                                            <span class="uk-form-help-block" style="margin:-12px 0 0;">Select Year</span>
                                            <input
                                                id="Year"
                                                name="Year" 
                                                style="width: 100%; box-shadow:none !important;"
                                                kendo-date-picker 
                                                k-options="monthSelectorOptions" 
                                                ng-required="true" 
                                                ng-model="Year"
                                               />
                                         </div>
                                    </div>
                                    <div class="uk-grid uk-margin-small-top uk-margin-medium-bottom" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <a ng-click="showCase.dtInstance1.changeData(showCase.newPromise);" class="md-btn md-btn-primary">Search</a>
                                            <a ng-click="refresh();" class="md-btn md-btn-danger">Reset</a>
                                        </div>
                                    </div>
                                </form>
                                <span ng-if="getBudgetReport" class="uk-badge uk-badge-info uk-float-right" style="font-size:15px;" ><b>Year - {{getBudgetReport[0].Year}} </b></span>
                                <table
                                    datatable
                                    dt-options="showCase.dtOptions1"
                                    dt-columns="showCase.dtColumns1"
                                    dt-instance="showCase.dtInstance1"
                                    class="uk-table"
                                    cellspacing="0"
                                    width="100%"
                                ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
